<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
    <title></title>
</head>

<body>
    <header>
        <div><a href="/">Index</a><a href="/about">About</a><a href="/help">Help</a></div>
        <h1>Index page</h1>
        <div>
            <form><input placeholder="Location"><button>Search</button></form>
        </div>
    </header>
    <script src="/js/script.js"></script>
    <div>
        <p id="mes1"></p>
        <p id="mes2"></p>
    </div>
    <footer>
        <p>Copyright by Peter</p>
    </footer>
</body>

</html>