extends templates/layout.pug

append script

append bodyblock
  div(class="centered-form")
    div(class="centered-form__box")
      h1 Join
      form(action="/chat.html")
        label Display name
        input(type="text" name="username" placeholder="Display name" required)
        label Room
        input(type="text" name="room" placeholder="Room" required)
        button Join